@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fredericka+the+Great&display=swap');

    // xl:1440px;
    // lg:992px;
    // md:768px;
    // sm:576px;


.wrapperNavBar{
    position: relative;
    z-index: 2000;
    .menuBar{
        position: fixed;
        width: 100%;
        display: block;
    }
    .topHeader{
        height: 260px;
        padding-top: 50px;
        padding-bottom: 50px;
       
        .topHeaderLeft{
            .logo{
                font-family: 'Dancing Script', cursive;
                width: 275px;
                font-size: 25px;
                display: block;
                margin-left: 3rem;
                @media (max-width:920px) {
                    font-size: 25px;
                    width: 200px;
                }
                @media (max-width:768px) {
                    // display: none;
                    font-size: 20px;
                }
                @media (max-width:568px) {
                    display: block;
                    font-size: 15px;
                    margin: 0px;
                    width: 100%;
                    margin-left: 1rem;
                    margin-right: 1rem;
                 
                }
            }
        }
        .topHeaderCenter{
            .contactHolder{
                font-size: 18px;
                font-weight: 500;
                @media (max-width:576px) {
                    display: flex;
                    justify-content: space-between;
                }
                a{

                    display: inline-block;
                    padding: 1rem;
                    .phone{
                        margin-right: 0.5rem;
                    }
                    .address{
                        margin-right: 0.5rem;
                        
                        
                    }
                }
                @media (max-width:920px) {
                    display: none;
                        text-align: center;
                        margin-bottom: 0.5rem;
                        margin-right: 0.5rem;
                }
               
                
            }
           
            .reservationButton{
                font-family: "Fredericka the Great";
                font-size: 28px;
                border: 1px dotted #f27257;
                display: inline-block;
                padding: 0.5rem 1rem;
                border-radius: 0.25rem;
                transition: 0.25s ease all;
                cursor: pointer;
                flex-direction: none;
               
                &:hover{
                    background-color: #f27257;
                    color: white;
                }
                @media (max-width:920px) {
                    font-size: 16px;
                }
                
            }
          
            .tablet{
                display: none;
                @media (max-width:920px) {
                    display: inline-block;
                    font-size: 18px;
                }
            } 
            @media (max-width:920px) {
                text-align: center;
                margin-left: 20px;
                margin-right: 20px;
            }
            @media (max-width:768px) {
                margin-left: 10rem;  
                margin-left: 5rem;      
                font-weight: 600;

            }
            @media (max-width:576px) {
                display: block;
                margin-left: 0px;
            }
           
        }
        .navbarToggler{
            display: none;
            font-family: "Fredericka the Great";
            margin-left: 50px;
            margin-top:0.8rem;
            float: right;
            padding: 1rem;
            // border: 1px dotted #f27257;
            &:hover{
                background: rgba(#5DA0AA,  0.5);
            }
            .menuTitle{
                font-size: 12px;
                margin-top: 1rem;
                margin-left: 0.5rem;
                text-transform: uppercase;
                font-weight: 600;
            }
            nav {
                ul{
                    margin: 0;
                    padding: 0;
                    float: left;
                    flex: 1;
                    justify-content: space-between;
                    
                    li{
                        list-style:none inside;
                        line-height: 30px; /*Cho text canh giữa menu*/ 
                         margin-right:2rem;
                         text-transform: uppercase;
                         transition: ease 0.25s all; 
                         &:hover{
                            font-size: 18px;
                            background-color: #f27257;
                            color: white;
                        }
                        a{
                            font-weight: 600;
                            font-size: 16px;
                            text-transform: uppercase;
                            text-decoration: none;
                            padding: 1.5rem 0.5rem ;
                            &:hover{
                                font-size: 18px;
                             
                            }
                        }
                        
                    }
                }           
            }
            @media (max-width:920px) {
                display: block;
            }
            @media (max-width:768px) {
                display: none;
            }
            @media (max-width:576px) {
                display: block;
                margin: 0px;
                width: 100px;
            }
        }
        .topHeaderRight{
           padding: 1rem;
           position: fixed;
           display: block;
           margin-top: -50px;
           
            .facebook{
                // background-color: blue;
                font-size: 40px;
                color: #f27257 ;
                //hover giảm màu
                & :hover {
                    color:darken(#f27257,15%);
                }
            }
            .user{
                font-size: 40px;
                cursor: pointer;
                // background-color: blue;
                color: #f27257 ;
                & :hover {
                    color:darken(#f27257,15%);
                }
            }
            @media (max-width:920px) {
                display: none;
            }
            
            
        }
    } 
        
    
    margin-bottom: -350px;
    .nav {
        border-bottom: 1px solid rgba(#5DA0AA,0.5);
        border-top:  1px solid rgba(#5DA0AA,0.5);
        font-family: 'Source Sans Pro', sans-serif;
        padding: 0rem;
        ul{
            margin: 0;
            padding: 0;
            text-align: center;
            flex: 1;
            justify-content: space-between;
            li{
                list-style:none inside;
                display: inline;
                //  float: left;
                line-height: 35px; /*Cho text canh giữa menu*/ 
                 margin-right:2rem;
                
                a{
                    font-weight: 500;
                    font-size: 22px;
                    text-transform: uppercase;
                    text-decoration: none;
                    padding: 1.5rem 0.5rem ;
                    text-transform: uppercase;
                    transition: ease 0.25s all; 
                   
                    &:hover{
                        color: white;
                        font-size: 25px;
                    }
                    @media (max-width:1140px){
                        font-size: 20px;
                        padding: 1rem 0.3rem;
                    }
                }
            }
        }
        @media (max-width:920px) {
            display: none;        
        }
      
       
    }
    
   
}
.homeBananer{
    height: 1080px;
    text-align: center;
    background-position:top center;
    background: #ccc;
    background-image: url('../../../public/Untitled-1.jpg');
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 1.25;
    padding-bottom: 115px;
    flex-direction: column;
    display: flex;    //them hieu ung cho bacgrou
    position: relative;
    @media (max-width:920px) {
        background-position:bottom center;
    }
    @media (max-width:768px) {
        
    }
    @media (max-width:568px) {
        
    }
    & ::before{
        
        content: "";
        display: block;
        height: 230px;
        background: linear-gradient(to top,rgba(white,0),rgba(white,1));
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        @media (max-width:920px) {
            height:  200px;
           
        }
        @media (max-width:768px) {
            font-size: 150px;
            
        }
        @media (max-width:568px) {
            font-size: 125px;
            
        }

    }
    & ::after{
        
        content: "";
        display: block;
        height: 230px;
        background: linear-gradient(to bottom,rgba(white,0),rgba(white,1));
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        @media (max-width:920px) {
            height:  200px;
           
        }
        @media (max-width:768px) {
            font-size: 150px;
            
        }
        @media (max-width:568px) {
            font-size: 125px;
            
        }

    }
justify-content: flex-end;
 .homeBananer1{
     height: 200px;
 }
 .homeBananer2{
    height: 200px;
}
h1{
    font-family: 'Fredericka the Great', cursive;
    font-size: 100px;
    @media (max-width:920px) {
        font-size: 50px;
        margin-top: 100px;
    }
    @media (max-width:768px) {
        font-size: 48px;
        
    }
    @media (max-width:568px) {
        font-size: 36px;
        
    }
}
@media (max-width:920px) {
    height: 580px;
}
}
.homeCallToAction{
    padding: 1rem;
    @media (max-width:568px) {
        text-align: center;
    }  
    .callToAction{
        border-radius: 100%;
         font-size: 100px;
        background-color: #223A47;
        padding-bottom: 100%;
        //chen2\ hai  khoi lai voi nhau
        position: relative;
        display: block;
        margin-left: 1rem;
        @media (max-width:920px) {
            width: 75%;
            padding-bottom: 75%;
            margin-bottom: 1rem;
        }
        @media (max-width:720px) {
            width: 75%;
            padding-bottom: 75%;
            margin-bottom: 1rem;
        }
        @media (max-width:568px) {
            width: 66%;
            padding-bottom: 66%;
            // canh giua mang hinh mobile
            display: inline-block;
            margin-bottom: 1rem;
        }

        .img{
            border-radius: 50%;
            
            background-image:url(../../../public/images.jpg) ;
            background-color: red;
            top: 30px;
            left:30px;
            right: 30px;
            bottom:30px ;
            position: absolute;
            transition: ease 0.25s all; 
            // dieu chinh do dam nhat
            opacity: 0.85;
            @media (max-width:1140px) {
                top: 20px;
                left:20px;
                right: 20px;
                bottom:20px ;
            }
            @media (max-width:1440px) {
                top: 20px;
                left:20px;
                right: 20px;
                bottom:20px ;
            }
               
        }
        &:hover{
            .title{
                left: 0%;
                color: #f27257;
                background: rgba(white,  1.0);
            }
            .img{
                top: 5px;
                left: 5px;
                right: 5px;
                bottom: 5px;
                opacity:1;  
            }
        }
        .title{
            font-size: 20px;
            position: absolute;
            bottom: 45px;
            left: 50%;
            //ket hop voi transition lam thuoc tinh hover
            right: -15px;
            text-align: center;
            background: #5DA0AA;
            padding: 0.5rem 1rem;
            color: white;
            border: 1px dashed white;
            border-radius: 0.25rem;
            transition: ease 0.25s all; 
            font-family: 'Fredericka the Great', cursive;
            @media (max-width:1440px) {
                top: initial;
                bottom:10%;
                right: -15px;
                left: 10%;
                
            }
            @media (max-width:920px) {
                top: initial;
                left:50px;
                right: 20px;
                bottom:10%;
                font-size: 15px;
            }
            @media (max-width:768px) {
                top: initial;
                left:50px;
                right: 20px;
                bottom:10%;
                font-size: 15px;
            }
            @media (max-width:568px) {
                top: initial;
                left:50%;
                right: -15px;
                bottom:45px;
                font-size: 12px;
            }
        }


    }
    
}
.homeWelcome{
    text-align: center;
   
    h2{
        margin-top: 2rem;
        line-height: 1;

        span{
            color: #FFB5A6;
            font-weight: "Pacifico";
            font-size: 80px;
            transition: translate(140px,30px);
        }
        font-size: 36px;
        font-family: 'Fredericka the Great', cursive;
        display: block;
        border-bottom: 1px solid #5DA0AA;
        margin-bottom: 60px;
        padding-bottom: 60px;
    }
    
        .tagLine{
            font-size: 24px;
            color:  #5DA0AA;
        }
        .reservationButton{
            font-family: "Fredericka the Great";
            font-size: 19px;
            border: 1px dotted #f27257;
            display: inline-block;
            padding: 0.5rem 1rem;
            border-radius: 0.25rem;
            transition: 0.25s ease all;
            cursor: pointer;
            flex-direction: none;
            &:hover{
                background-color: #f27257;
                color: white;
                font-size: 25px;
            }
           
        }
       
    
}
.homeNew{
    padding-top:20px;
    padding-bottom: 200px;
    cursor: pointer;
    position: relative;
    
    h2{
        font-family: "Fredericka the Great";
        cursor: pointer;
        padding: 1rem;
        font-size: 40px;
        margin-left: 1rem;
        margin-bottom: 0.5rem;
         color: #f27257;
         transition: ease  0.25s all ;
         @media (max-width:1140px) {
             font-size: 37px;
         }
         @media (max-width:920x) {
            font-size: 34px;
        }   
        @media (max-width:768px) {
            font-size: 31px;
        }   
        @media (max-width:576px) {
            font-size: 28px;
        }      
    }
    .container{
        line-height: 2;
        font-weight: 300;
    }
    .date{
        font-size: 15px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        padding: 0.5rem;
        background: #f27257;
        color: white;
        border: 1px dashed white;
        right: -15px;
        @media (max-width:1440px) {
          
           
           
            
        }
        @media (max-width:920px) {
           
            font-size: 15px;
        }
        @media (max-width:768px) {
           
            font-size: 15px;
        }
        @media (max-width:568px) {
           
            font-size: 12px;
        }
    }
    .callToAction{
        border-radius: 100%;
        font-size: 100px;
        background-color: #223A47;
        padding-bottom: 90%;
        //chen2\ hai  khoi lai voi nhau
        position: relative;
        @media (max-width :920px) {
            display: none;
        }
        @media (max-width :1140px) {
            margin-bottom: 1rem;
        }
        @media (max-width :1440px) {
            width: 100%;
            margin-bottom: 1rem;
        }
        .img{
            border-radius: 50%;    
            background-image:url(../../../public/images.jpg) ;
            background-color: red;
            top: 30px;
            left:30px;
            right: 30px;
            bottom:30px ;
            position: absolute;
            transition: ease 0.25s all; 
            // dieu chinh do dam nhat
            opacity: 0.85;
        @media (max-width:920px) {
            width: 75%;
            padding-bottom: 75%;
            margin-bottom: 1rem;
        }
        @media (max-width:720px) {
            width: 75%;
            padding-bottom: 75%;
            margin-bottom: 1rem;
        }
        @media (max-width:568px) {
            width: 66%;
            padding-bottom: 66%;
            // canh giua mang hinh mobile
            display: inline-block;
            margin-bottom: 1rem;
        }    
        }
        &:hover{
            .category{
                left: 0%;
                color: #f27257;
                background: rgba(white,  1.0);
            }
            .img{
                top: 5px;
                left: 5px;
                right: 5px;
                bottom: 5px;
                opacity:1;
                @media (max-width:1140px) {
                    top: 20px;
                    left:20px;
                    right: 20px;
                    bottom:20px ;
                }
                @media (max-width:1440px) {
                    top: 20px;
                    left:20px;
                    right: 20px;
                    bottom:20px ;
                }  
            }
        }
        .category{
            font-size: 20px;
            position: absolute;
            bottom: 45px;
            left: 50%;
            //ket hop voi transition lam thuoc tinh hover
            right: -15px;
            text-align: center;
            background: #5DA0AA;
            padding: 0.5rem 1rem;
            color: white;
            border: 1px dashed white;
            border-radius: 0.25rem;
            transition: ease 0.25s all; 
            font-family: 'Fredericka the Great', cursive;
        }
        

    }
    .callToActionAfter{
        
        cursor: pointer;
        position: relative;
       
        .dateAfter{
            font-size: 20px;
            position: absolute;
            //ket hop voi transition lam thuoc tinh hover
            right: 25%;
            background: #5DA0AA;
            padding: 0.5rem 1rem;
            background: #5DA0AA;
            border: 1px dashed white;
            border-radius: 0.25rem;
            transition: ease 0.25s all; 
            font-family: 'Fredericka the Great', cursive;
            @media (max-width:768px) {
                right: 20%;
                font-size: 18px;
            }
        }
        .categoryAfter{
            font-size: 20px;
            position: absolute;
            left: 25%;
            //ket hop voi transition lam thuoc tinh hover
            
            background: #5DA0AA;
            padding: 0.5rem 1rem;
            background: #f27257;
            border: 1px dashed white;
            border-radius: 0.25rem;
            transition: ease 0.25s all; 
            font-family: 'Fredericka the Great', cursive;
            @media (max-width:768px) {
                left: 20%;
                font-size: 18px;
            }
        }
        @media (max-width:1440px) {
            display: none;
        }
        @media (max-width:920px) {
            display: flex;
        }
        @media (max-width:768px) {
        }
    }

    //lam slider
    .container{
        #slider{
            margin: 0 auto;
            width: 800px;
            max-width: 100%;
            text-align: center;
            border: 2px dotted #f27257;
                padding: 30px;
                position: relative;
                z-index: 1; 
        }
    }
    
}
